@font-face {
    font-family: eita;
    src: url(fonte/RACESPACEREGULAR.otf) format('opentype');
} 

@font-face {
    font-family: paia;
    src: url(fonte/Versa-Versa.otf) format('opentype');
}

html {
    scroll-behavior: smooth;
}

* {
margin: 0;
padding: 0;
font-family: eita;
}

body {
    background-color: #161616;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#cabecalho {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
}

.cabBUT {
    font-family: paia;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.cabBUT:hover {
    font-family: paia;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.hakariii {
    height: 250px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}

.hakariii2 {
    height: 250px;
    transform: scaleX(-1);
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}

header#cab {
    text-align: center;
    color: white;
    font-size: 65px;
    background: #000000;
    padding: 15px;
    width: 55%;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}

img#logo {
    position: relative;
    top: 10%;
}

header#cab1 {
    text-align: center;
    color: white;
    font-size: 25px;
    background: #000000;
    padding: 5px;
    width: 35%;
    font-family: paia;
}

header#cab2 {
    text-align: center;
    color: white;
    font-size: 25px;
    background: #000000;
    padding: 5px;
    width: 35%;
    font-family: paia;
}

header#cab3 {
    text-align: center;
    color: white;
    font-size: 25px;
    background: #000000;
    padding: 5px;
    width: 35%;
    font-family: paia;
    border-bottom-right-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    margin-bottom: 150px;
}

img#logoIN {
    margin-bottom: 150px;
}

section#intro {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 35px;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-image: url(img/testebackground.png);
    margin-bottom: 100px;
}

p#inTIT {
    position: relative;
    font-family: paia;
    text-align: center;
    min-width: 350px;
    margin: 0;
    top: -35%;
    left: 25%;
}

p#in {
    position: relative;
    top: 0%;
    left: -8.5%;
    font-family: paia;
    font-size: 20px;
    text-align: center;
    min-width: 500px;
    overflow-wrap: break-word;
    margin: 0;
}

img#in {
    position: relative;
    width: 400px;
    height: 550px;
    left: -10%;
}

.iniciar {
    position: relative;
    top: 35%;
    left: -36%;
    height: 20px;
    max-width: 55px;
    padding: 22px 85px;
    border-radius: 10px;
    border: 0;
    background-color: #3d3d3d;
    letter-spacing: 1.5px;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: #141414 0px 10px 0px 0px;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
  
.iniciar:hover {
    box-shadow: #141414 0px 5px 0px 0px;
}

.iniciar:active {
    background-color: #4b4b4b;
    box-shadow: #141414 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

h3 {
    font-family: paia;
    margin-bottom: 10px;
}

.topico {
    background-color: white;
    width: 800px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 2px;
    transform: scale(1.2);
    accent-color: #4b4b4b;
}

section#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: paia;
}

.iniciar2 {
    padding: 25px 125px;
    border-radius: 10px;
    border: 0;
    background-color: #3d3d3d;
    letter-spacing: 1.5px;
    font-size: 35px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: #ffffff 0px 10px 0px 0px;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
  
.iniciar2:hover {
    box-shadow: #ffffff 0px 3px 0px 0px;
}

.iniciar2:active {
    background-color: #4b4b4b;
    box-shadow: #ffffff 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

section#membros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(img/back2.png);
}

.NomeMembros {
    font-size: 35px;
    color: white;
    font-family: paia;
}

section#NOMEmembros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

section#membrosTIT {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

img#sonic {
    width: 150px;
    height: 150px;
}

p#TITmembros {
    margin-top: 50px;
    font-size: 95px;
    color: white;
}

section#rodape {
    margin-bottom: 20px;
}

img#rodape {
    width: 1300px;
    height: 800px;
}

section#botaoTOP {
    margin-bottom: 90px;
}

.TOP {
    background-color: #e9290e; 
    color: white;              
    padding: 35px 72px;     
    text-decoration: none; 
    font-size: 45px;        
    border: none;         
    border-radius: 5px;       
    cursor: pointer;       
    transition: 0.4s;
    box-shadow: #ffffff 0px 10px 0px 0px;
}

.TOP:hover {
    background-color: #a51f0d;
    transform: scale(1.05);
    box-shadow: #ffffff 0px 3px 0px 0px;
}

.TOP:active {
    background-color: #a51f0d;
    transform: scale(0.95);  
}

img#knuckles {
    position: relative;
    top: 65px;
    width: 150px;
    height: 150px;
    transform: scaleX(-1);
}

.resultadosIMG {
    width: 300px;
    height: 300px;
}

p#resultadoBODY {
    font-family: paia;
    color: red;
    font-size: 45px;
}

p#resultadoBODY2 {
    font-family: paia;
    color: white;
    font-size: 25px;
    text-align: center;
    word-wrap: break-word;
    max-width: 900px;
    margin-bottom: 25px;
}

@media (min-width: 1420px) {
    img#in {
        position: relative;
        width: 400px;
        height: 550px;
        left: -15%;
    }

    section#intro {
        display: flex;
        gap: 10px;
        font-size: 35px;
        color: white;
        justify-content: space-around;
        display: flex;
        width: 100%;
        height: 550px;
        background-image: url(img/testebackground.png);
}

p#inTIT {
    position: relative;
    font-family: paia;
    left: 26%;
    top: -35%;
    text-align: center;
    min-width: 350px;
}

p#in {
    position: relative;
    font-family: paia;
    left: -7.8%;
    top: -3%;
    font-size: 25px;
    text-align: center;
    max-width: 800px;
}

.iniciar {
    position: relative;
    top: 35%;
    left: -35%;
    box-shadow: #141414 0px 15px 0px 0px;
    padding: 30px 95px;
    font-size: 35px;
    
}

.iniciar:hover {
    box-shadow: #141414 0px 8px 0px 0px;
}

.iniciar:active {
    background-color: #4b4b4b;
    box-shadow: #141414 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

section#membros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

section#NOMEmembros {
    justify-content: center; 
    gap: 20px;
}

.NomeMembros {
    font-size: 35px;
    color: white;
    font-family: paia;
}

}